.Top10Pic {
    position: absolute;
    left: 20%;
    width: 4%;
    bottom: 11%;
}

.Top10Text {
    position: absolute;
    left: 20.5%;
    bottom: 8%;
    color: white;
}

.howF1WorksPic {
    position: absolute;
    left: 38%;
    bottom: 11%;
    width: 3%;
}

.howF1WorksText {
    position: absolute;
    left: 36.5%;
    bottom: 8%;
    color: white;
}

.upcomingRacesPic {
    position: absolute;
    right: 38%;
    width: 5%;
    bottom: 10.2%;
}

.upcomingRacesText {
    position: absolute;
    right: 37%;
    bottom: 8%;
    color: white;
}

.teamsPic {
    position: absolute;
    right: 20%;
    width: 4%;
    bottom: 11%;
}

.teamsText {
    position: absolute;
    right: 20.7%;
    bottom: 8%;
    color: white;
}

body {
    width: 99%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;    
}
th {
    background-color: black;
    color: white;
    padding: 8px;
}

#Teams {
    width: 49.8%;
}

h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


